.header-navigator a {
    color:#800080;
    text-decoration: none;
}
.header-navigator a:hover,
.header-navigator a:focus,
.header-navigator a:active,
.header-navigator a:visited{
    color:#800080;
    text-decoration: none;
}
.school-name {
    width: 100%;
    position: relative;
    margin: 15px auto;
    display: inline-block;
}
.green-box {
    background-color: #5bb900;
    width: 20px;
    height: 60px;
    float:left;
    left:0px;
    padding-right: 20px;
}
.green-title {
    margin-top: 0px !important;
    height: 60px !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.green-title h3 {
    margin-top: 0px;
    padding-top: 20px;
    color:#fff;
    padding-left: 30px;
}
.county {
    background-color: #fff;
    border: none;
    outline: none;
    padding:5px 12px 5px 12px;
    border-radius: 5px;
    color: #800080;
    font-size: 16px;
    float: right;
    margin-top:-5px;
    margin-right: 20px;
    text-shadow: none;
}
.county:hover {
    background-color: #f1f1f1;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}
.county:hover,
.county:visited,
.county:active,
.county:focus {
    text-decoration: none;
    color: #800080;
}
.members-list h3 {
    color:gray;
    text-shadow: none;
    line-height: 90px !important;
    padding-left: 30px;
}
.members-list {
    height: 80px;
}
.left {
    float: left;
}
.right {
    float: left;
}
.right ul {
    list-style: none;
}
.right li {
    display: inline-block;
    text-align: center;
    margin-right: 25px;
}
.right a,
.right a:hover,
.right a:active,
.right a:focus{
    text-decoration: none;
    color:#5bb900;
    font-weight: bold;
    font-style: italic;
}
.right img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-top: 30px;
    box-shadow: 3px 3px 3px #888888;
}
.school-details {
    width: 100%;
    margin-bottom: 30px;
    display: inline-block;
}
.school-img {
    box-shadow: 3px 3px 3px #888888;
    width: 350px;
    height: 270px;
    margin:25px auto;
    position: relative;
    float: none;
    display: inline-block;
    border: 1px #999 solid;
}
.school-img img {
    width:348px;
    height: 268px;
    padding: 10px;
}
.school-table ul {
    list-style: none;
    width: 100%;
    height: 100%;
    margin:0px;
}
.school-table li {
    width: 100%;
    height: 40px;
    display: block;
    left:30px;
    position: relative;
    border-bottom: 1px #999 solid;
    border-left: 1px #999 solid;
    line-height: 40px;
    padding-left: 20px;
}
.school-table li:last-child {
    border-bottom: none;
}
.green-button {
    padding:7px 15px 7px 15px;
    display: inline-block;
    width:auto !important;
    height: auto !important;
    margin-bottom: 30px;
    left:0;
}
.green-button:hover {
    background-color: #9dd566;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}
.green-button:hover,
.green-button:active,
.green-button:focus,
.green-button:visited {
    text-decoration: none;
    color:#fff;
}
@media (min-width:300px) and (max-width:600px) {
    .county {
        display: none;
    }
    .school-img img{
        margin: 0px auto;
        width: 100%;
    }
    .school-img {
        width: 100%;
        margin: 20px auto;
    }
    .school-table li{
        left:0px;
        display: inline-block;
        height: auto !important;
    }
    .school-table ul {
        padding:0px;
        margin:0px;
    }
    .green-button {
        margin-left: 30px; 
    }
}
@media (min-width:600px) and (max-width:1200px) {
     .county {
        display: none;
    }
    .school-img img{
        margin: 0px auto;
        width: 100%;
    }
    .school-img {
        width: 50%;
        margin: 20px auto;
    }
    .school-table li{
        left:0px;
        display: inline-block;
        height: auto !important;
    }
    .school-table ul {
        padding:0px;
        margin:0px;
    }
    .green-button {
        margin-left: 30px; 
    }
}