/* MAIN CONTENT */
.header-navigator a {
    color:#800080;
    text-decoration: none;
}
.header-navigator a:hover,
.header-navigator a:focus,
.header-navigator a:active,
.header-navigator a:visited{
    color:#800080;
    text-decoration: none;
}
.news {
    border: 1px gray solid;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    max-width: 460px;
    position: relative;
    margin: 20px auto;
    padding-bottom: 20px;
}
.news p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: italic;
}
.center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h2 {
    font-style: italic;
    font-weight: bold !important;
    color: #707070 !important;
    font-size: 24px;
    padding-left: 20px;
}
.author {
    color:#707070;
    font-size: 14px;
    padding-left: 20px; 
}
.green-text {
    color:#5bb900;
}
.date {
    padding-left: 20px;
}
.news img {
    width:100%;
    height: 225px;
    margin-top: 20px;
    border:1px #5bb900 dotted;
}
.news-description {
    color:#707070;
    font-size: 14px;
    padding-left: 20px; 
    font-style: italic;
    padding-top: 15px;
}
.big {
    font-style: italic;
    font-weight: bold;
    font-size: 24px;
    line-height: 16px;
    font-family:serif; 
}
.news-opitons {
    margin-top: 15px;
    margin-left:15px;
    margin-right: 15px;
    padding-bottom: 30px;
}
.read-more-outline {
    background-color: #fff;
    border:2px #5bb900 solid;
    border-radius: 5px;
    width:200px;
    height: 35px;
    color:#5bb900;
    position: relative;
    display: block;
    float:left;
    line-height: 30px;
}
.read-more-outline:hover {
    background-color: #f1f1f1;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}
.news-opitons a:hover,
.news-opitons a:focus,
.news-opitons a:visited,
.news-opitons a:active {
    text-decoration: none;
    color: #5bb900;
}
.leave-comment {
    background-color: #fff;
    border:2px #5bb900 solid;
    border-radius: 5px;
    width:200px;
    height: 35px;
    color:#5bb900;
    position: relative;
    display: block;
    float:right;
    line-height: 30px;
}
.leave-comment:hover {
    background-color: #f1f1f1;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}
.green-icon {
    float: left; 
}
.green-box {
    background-color: #5bb900;
    width: 20px;
    height: 40px;
    float:left;
    left:0px;
    padding-right: 20px;
}
.read-more-outline .green-icon,
.leave-comment .green-icon{
    background-color: #fff;
    color:#5bb900;
    padding-top:0px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    line-height: 30px;
    margin:0px;
    height: 20px;
    display: inline-block;
    background-color: transparent;
}
@media (min-width:300px) and (max-width:1100px) {
    .news {
        width:100% !important;
        padding-bottom: 80px;
    }
    .read-more-outline {
        float:left;
        width: 100%;
        position: relative;
        margin-bottom: 10px;
    }
    .leave-comment {
        float:left;
        width: 100%;
        position: relative;
    }
}
@media  (max-width: 400px) {
    .news img{
        height: 150px;
    }
    .green-title p{
        font-size: 18px !important;
        line-height: 40px !important;
    }
}
/* END OF MAIN CONTENT */