.main-content {
    margin-bottom: 40px;
}
.shadow {
    height: 40px;
    background-color: #ddd;
}
.avatar img {
    vertical-align: middle;
    width: 130px;
    height: 130px;
    margin-top: 10px;
    margin-right: 20px;
    border-radius: 50%;
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}
.avatar {
    font-size: 24px;
    color:#800080;
    font-weight: bold;
}
.owl-buttons {
    position: absolute;
    z-index: 9999;
    top:45%;
    width: 100%;
}
.owl-prev {
    position: relative;
    left: 0px !important;
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 0px !important;
    background-color:#800080 !important;
    line-height: 34px;
    font-size: 26px !important;
    font-weight: bold;
}
.owl-next {
    position: relative;
    right: 0px !important;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 0px !important;
    background-color:#800080 !important;
    line-height: 34px;
    font-size: 26px !important;
    font-weight: bold;
}
.post-comment p {
    padding-top: 10px;
}
.add-on-post {
    margin: 0px;
    padding: 0px;
    float: left;
}
.add-on-post img{
    height: 30px;
    padding-right: 10px;
}
.add-on-post li {
    list-style: none;
    list-style-type:none;
    display: inline-block;
}
.post-in {
    float: right;
    margin-right: 10px;
}
.post-in button {
    margin-left: 10px;
    border: 1px #c0c5ce solid;
    background-color: #f1f1f1;
    width: 120px;
    height: 30px;
    text-align: left;
    border-radius: 5px;
}
.post-comment-option {
    height: 100px;
    margin-top: 10px;
}   
ul.post-in-menu{
    left:8px;
}
.post-in-menu li{
    text-align: left;
    width: 120px;
    cursor: pointer;
    font-style:italic;
    padding-left: 10px;
}
.post-in-menu li:hover {  
    background-color: #f1f1f1;
}
.post-comment-option img {
    width:35px;
    height: 35px;
}
.privacy button {
    margin-left: 10px;
    border: 1px #c0c5ce solid;
    background-color: #f1f1f1;
    width: 120px;
    height: 30px;
    text-align: left;
    border-radius: 5px;
}
ul.privacy-menu{
    left:8px;
}
.privacy-menu li{
    text-align: left;
    width: 120px;
    cursor: pointer;
    font-style:italic;
    padding-left: 10px;
}
.privacy-menu li:hover {  
    background-color: #f1f1f1;
}
.post-comment-option .purple-button {
    float:right;
    margin-right: 10px;
    height: 35px;
    width: 150px;

}
.post-comment-option .purple-button:hover {
    background-color: #b366b3;
    color: #fff;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.col-lg-10 .purple-button {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}
.col-lg-10 .cancel {
    float: right;
}
.preview-post-friendship {
    line-height: 50px;
}
.small-avatar {
    border-radius: 50%;
    box-shadow: 2px 4px 3px #888888;
}
.textarea-comment {
    width: 100%;
    min-height: 70px;
    margin-top: 25px;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 10px;
}
@media (max-width: 390px) {
    .post .post-comment {
        padding-bottom:90px  !important;
    }
    .post-in {
        float: left;
        margin-top: 20px;
        left:-10px;
    }
    .arrow-down {
        left: 100px;
        bottom: 0px;
    }
    .avatar img {
        width: 50px;
        height: 50px;
    }
    .avatar {
        font-size: 18px;
    }
    .privacy{
        float: left;
        left:-5px;
        width: 100%;
    }
    .post-comment-option img {
        display: none;
    }
    .post-comment-option .purple-button {
        float:left;
        margin-left:5px;
        margin-top: 20px;
    }
}
@media (min-width:400px) and (max-width:1190px){
    .post .post-comment {
        padding-bottom:50px  !important;
    }
    .avatar img {
        height: 80px;
        width: 80px;
    }
}

/* PREVIEW */

.preview-options {
    margin-top: 40px;
    display: block;
    padding-bottom: 20px;
    padding-left: 20px !important;
}
.preview-title {
    border-bottom: 1px #800080 solid;
    width: 100%;
}
.preview-title .rss a:hover,
.preview-title .rss a{
    color:#800080;
    float: right;
    text-decoration: none;
    font-weight: bold;
}
.show-options {
    float: right;
}
.show-menu {
    min-width: 170px;
    width: auto;
    text-align: left;
}
.show-menu li {
    padding-left: 10px;
    font-style: italic;
    cursor: pointer;
}
.show-menu li:hover,
.show-menu li:active {
    background-color: #f1f1f1;
}
.show-options .purple-button {
    min-width: 170px;
    width: auto;
    padding-top:0px;
    padding-right: 5px;
}
.preview-options .purple-button {
    min-width: 140px;
    width: auto;
}
.center-block {
    float: none !important;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}
.post-event img {
    vertical-align: middle;
    margin-right: 20px;
    margin-left: 20px;
}
.option-box {
    width: 35px !important;
    height: 35px;
    background-color: #800080;
    position: relative;
    top:0px;
    float:right;
    left:5px;
    pointer-events: none;
    color: #fff;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    line-height: 35px !important;
}
.arrow-down-purple {
    width: 35px !important;
    height: 35px;
    background-color: #800080;
    position: relative;
    top:0px;
    float:right;
    left:5px;
    pointer-events: none;
    color: #fff;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
}
.post-options {
    margin-top: 20px;
    display: block;
    left:0px;
    padding-left:5px !important;
}
.option-button {
    float: none;
    margin-left: auto;
    margin-right: auto;
}
.post-event {
    border-bottom: 1px gray solid;
    margin-bottom: 20px;
    padding-bottom: 10px;
    display: inline-block;
}
.padding-left-post {
    margin-left: 17%;
    width: 83% !important;
    padding-left: 10px;
}
.light {
    line-height: 35px !important;
}
.light:hover {
    background-color: #800080 !important;
    transition: ease all 0.2s;
    -webkit-transition: all 0.2s;
}
.preview-post-friendship a,
.preview-post-friendship a:hover,
.preview-post-comment a,
.preview-post-comment a:hover{
    text-decoration: none;
    color:#333;
}
@media(min-width:300px) and (max-width:1000px) {
    .preview-options .purple-button,
    .show-options,
    .show-options .purple-button,
    .option-button{
        width: 100% !important;
        margin-bottom: 10px;
        position: relative;
        line-height: 30px;
        text-align: center;
    }
    .show-menu {
        width: 100%;
        top:30px !important;
    }
    .preview-options {
        margin-bottom: 50px;
    }
    .arrow-down-purple,
    .options-box
    {
        float: right;
        position: relative;
        display: block;
        left:0px;
    }
    .stuff-options {
        display: block;
    }

}
@media (min-width:300px) and (max-width:900px) {
    .date {
        display: inline-block;
        width: 100%;
    }
    .date-comment {
        display: inline-block;
        width: 100%;
        margin-top: 10px;
    }
    .preview-post-friendship,
    .preview-post-comment{
        padding-left: 5%;
        font-size: 12px !important;
        text-align: left;
    }
    .preview-post-friendship img{
        width: 55px;
        height: 55px;
        vertical-align:bottom;
        margin-top:10px;
        margin-right: 10px;
        margin-left:0px;
    }
    .preview-post-comment img {
        width: 55px;
        height: 55px;
        vertical-align:middle;
        margin-left:0px;
    }
    .preview-post-friendship a,
    .preview-post-friendship a:hover,
    .preview-post-comment a,
    .preview-post-comment a:hover{
        text-align: left;
        margin-right: 10px;
        display: inline-block;
    }
    .preview-post-friendship a:first-child {
        display: inline-block;
        width: 100%;
    }
    .after {
        padding-top: 0px;
        line-height: 30px;
        display: inline-block;
        font-weight: bold;
        text-align: left;
        margin-right: 10px;
    }
}
@media (min-width:900px) and (max-width:1200px) {
    .date {
        display: inline-block;
    }
    .preview-post-friendship img{
        width: 55px;
        height: 55px;
        vertical-align:bottom;
        margin-top:10px;
        margin-right: 10px;
        margin-left:0px;
    }
    .preview-post-comment img {
        width: 55px;
        height: 55px;
        vertical-align:middle;
        margin-left:0px;
    }
    .preview-post-friendship a,
    .preview-post-friendship a:hover,
    .preview-post-comment a,
    .preview-post-comment a:hover{
        text-align: left;
        margin-right: 10px;
        display: inline-block;
    }
    .preview-post-friendship,
    .preview-post-comment{
        padding-left: 3%;
        font-size: 14px !important;
        text-align: left;
    }
    .after {
        padding-top: 0px;
        line-height: 30px;
        display: inline-block;
        font-weight: bold;
        text-align: left;
        margin-right: 10px;
    }
}
/* END OF PREVIEW */


/* RIGHT SIDEBAR */
.right-bar {
    padding-top: 25px;
}
.right-bar p,
.right-bar {
    padding-right:10px !important;
}

.left-border {
    border-left: 3px gray solid;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.logo-right {
    width: 100px;
    height: 100px;
    margin-left: 40%;
    margin-top: 5px;
    margin-bottom: 30px;
}
.important-title{
    background-color:#a3a3a3;
    width: 100%;
    height: 35px;
    line-height: 35px;
    color: #fff;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.important-title .grey-box {
    width: 15px;
    height: 35px;
    background-color: grey;
    position: relative;
    float: left;
    margin-right: 10px;
}
.important-stuff .subtitle{
    text-decoration: underline;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 20px;
    color:#333;
}
.important-stuff .content {
    padding-left: 10px;
}
.important-stuff .date {
    float:right;
}
hr.important-stuff {
    background-color: gray;
}
.icon-right {
    width: 60px;
    height: 60px;
    position: relative;
    margin-right: 10px;
}
.gray-button {
    background-color: #a3a3a3;
    border:none;
    border: none;
    color:#fff;
    width: 140px;
    height: 35px;
    line-height: 35px;
    text-align: left;
    position: relative;
    margin-left: 20px;
    border-radius: 5px;
    display: inline-block;
    padding-left: 10px;
}
.gray-button:hover,
.gray-button:active,
.gray-button:focus,
.gray-button:visited{
    text-decoration: none;
    color:#fff;
}
.gray-button:hover{
    background-color: gray;
    transition: all 0.2s;
    -webkit-transition: all 0.2s ;
}
.gray-button .gray-box {
    background-color: gray;
    position: relative;
    float:right;
    top:0px;
    left:0px;
    height: 34px;
    width:35px;
    pointer-events: none;
    color: #fff;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
}
.comment-button-gray {
    float:right;
    margin-right: 20px;
}
.stuff {
    position: relative;
    display:inline-block;
    width: 100%;
}
.stuff p {
    padding-left: 20px !important; 
}
.stuff .important-title {
    margin-top:40px;
}
.bigger {
    width: 160px;
    height: 35px;
    position: relative;
    text-align: center;
    margin:20px auto;
    display: block;
    font-weight: bold;
}
.board {
    list-style: none;
    padding-left: 15px;
    padding-top: 5px;
}
.board li {
    width: 100%;
    text-align: left;
    height: 35px;
    position: relative;
    font-weight: bold;
    line-height: 33px;
}
.green-box {
    background-color: #5bb900;
    float:right !important;
    top:5px;
    padding-left: 7px;
    padding-right: 7px;
    pointer-events: none;
    color: #fff;
    text-align: center;
    font-size: 14px;
    right: 0px !important;
    position: absolute;
    right: 15px !important;
}

@media (min-width:300px) and (max-width:1190px) {
    .read-more-button-gray {
        width: 90%;
        margin:0px auto;
        padding:0px;
        float: left;
        left:5% !important;
        padding-left: 15px;
        position: relative;
        margin-bottom: 10px;
        text-align: left;
        display: block;
    }
    .comment-button-gray {
        width: 90%;
        float: left;
        position: relative;
        margin:0px auto;
        padding:0px;
        left:5% !important;
        padding-left: 15px;
        text-align: left;
        display: block;
    }
    .gray-box {
        margin-right:0px !important;
    }

    .right-bar {
        font-size: 12px !important;
    }
    .right-bar p {
        padding-right: 10px !important;
    }
    .green-box {
        margin-right: 10px;
    }
    .stuff p {
        padding-left: 5% !important; 
        padding-right: 5% !important; 
        
    }
}