html, body {
    margin: 0; 
    height: 100%;
    background-color: #eee !important;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid gray !important;
    margin: 1em 0;
    padding: 0; 
}
.vertical-center {
    width: 100%;
}
.login {
    width: 600px !important;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    float: none;
    position: relative;
    display: block;
    background-color: #fff;
}
.logo {
    height: 80px;
    display: inline-block;
    position: relative;
}
.logo table {
    width: 100%;
}
.logo img {
    height: 70px;
}
.logo h1 {
    font-size: 36px !important;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    line-height: 40px;
    color:#800080 !important;
    text-shadow: 2px 2px 2px #888888; 
}
.logo p {
    font-size: 14px !important;
    text-align: center;
    padding-top: 0px;
    margin-top: 0px;
    line-height: 14px;
}
.login-form {
    margin-top: 10px;
}
.login-form input {
    width: 100%;
    border-radius: 5px;
}
.border {
        box-shadow: 5px 5px 5px #888888;
}
.login-form p {
    font-size: 18px !important;
    font-style: italic;
    font-weight: bold !important;
}
.login-button .purple-button {
    width: 100%;
    margin:20px auto;
    height: 35px;
    transition: all 0.2s;
     -webkit-transition: all 0.2s;
}
.login-button .purple-button:hover {
    background-color:#b366b3;
}
.alert-danger {
    margin-top: 8px !important;
    text-align: center;
}
.alert-wrapper{
    margin-bottom: 15px !important;
    padding-bottom: 0px;
    bottom: 0px;
    height: 65px;
    display: block;
}
@media (min-width:420px) and (max-width:600px) {
    
    .logo h1 {
        font-size: 18px !important;
        text-align: right;
    }
    .logo p {
        font-size: 11px !important;
        text-align: right;
    }
}
@media (min-width:300px) and (max-width:420px) {
    
    .logo h1 {
        font-size: 14px !important;
        text-align: right;
    }
    .logo p {
        font-size: 11px !important;
        text-align: right;
    }
    .logo img {
        height: 45px;
        left:0 !important;
    }
}