* {
    outline: none;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.42857;
    color: #333333;
    background-color: #fff;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
.link-no-effect,
.link-no-effect:hover,
.link-no-effect:focus,
.link-no-effect:active{
    text-decoration: none;
    color: #333333;
}
#wrapper {
    width:100%;
    margin:0px;
    padding:0px;
}
.clearfix:before,
.header-page:before, 
.clearfix:after,
.header-page:after{
    content: " ";
    display: table;
}
user agent stylesheetdiv {
    display: block;
}
Inherited from li.current-menu-item
user agent stylesheetli {
    display: list-item;
    text-align: -webkit-match-parent;
}
user agent stylesheeta:-webkit-any-link {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}
a {
    color: #800080;
    text-decoration: none;
}
img {
    vertical-align: middle;
    outline: none;
    border: none;
}
@media(max-width:640px){
    .sf-menu {
        display: none;
    }
}
@media screen and (max-width:640px) {
    #mobile-menu {
        display: inline-block !important;
        float: right;
        position: relative;
        width: 100%;
        max-height: 50px;
        z-index: 9999;
    }
    #mobile-menu ul {
        list-style: none;
        background-color: #fff;
        position: relative;
        width: 100%;
        height: auto;
        padding:0px;
        margin:0px;
        top:0px;
        left:0px;
        z-index: 9999;
    }
    #mobile-menu li {
        text-align: left;
        width: 100%;
    }
    #mobile-menu li a{
        color:#800080;
    }
    #mobile-menu li a:hover {
        background-color: #800080;
        color: #fff;
        transition: all ease 0.15s;
    }
    .fa-bars {
        top:-70px;
        right: 40px;
        border-radius: 5px;
        position: absolute;
        background-color: #800080;
        color: #fff;
        font-size: 24px !important;
        padding:10px;
        cursor: pointer;
        transition: all ease 0.15s;
    }
    .fa-bars:hover {
        background-color: #fff;
        color: #800080;
    }
    .hide-nav {
        outline: none;
        background: transparent;
        border: none;
    }
    .mobile-navigation {
        position: relative;
        top:0px;
    }   
}
@media screen and (min-width:641px) {
    #mobile-menu {
        display: none;
    }
    #mobile-menu .fa-bars {
        display: none !important;
    }
}
/* HEADER */


.header-page{
    border-bottom: 3px solid #800080;
    height: 105px;
    font-family: "Titillium Web", sans-serif;
    background-image: url(../imgs/header-bg.png);
    background-repeat: repeat-x;
}

.header-page .sf-menu > li > a > .fa {   
    position: absolute;
    font-size: 46px;
    top: 10px;
    left: 25%;
    margin-left: -2px;
}
.header-page .sf-menu > li > a > .fa:before {
    top:0px;

}

.header-page .sf-menu > li > a > .fa-graduation-cap{
    left:15%;
}
.header-page .sf-menu > li > a {
    padding: 72px 12px 0px 12px;
    position: relative;
    color: #212121;
    height: 100px;
    border-top: 10px solid;
    border-color:transparent;
    text-decoration: none;
    font-weight: bold;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}
.header-page .sf-menu li > a:hover {
    color:#800080;
    border-top: 10px solid #800080;
}
.header-page .sf-menu > li {
    display: inline-block;
    width: 100px;
    text-align: center;
}
.header-page .sf-menu li > a.active {
    color:#800080;
    border-top: 10px #800080 solid;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
.fa, .sf-menu > li > ul > li > a.sf-with-ul:after, .sf-mega ul a:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.sf-menu {
    float: right;
    list-style: none;
    height: 105px;
    top:80px;
}
.sf-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    z-index: 9;
}
.inner-bottom-header-page {
    overflow: hidden;
}
Inherited from ul.sf-menu
.header-page .sf-menu {
    font-size: 16px;
    width: auto;
    position: static;
}
.top-logo {
    line-height: 100px;
    float: left;
}
#mobile-menu {
    font-family: "Titillium Web", sans-serif;
    display: none;
}
#mobile-menu.mm-menu.mm-current {
    display: block;
}
.search {
    color:#800080;
    font-style: italic;
}
h3 {
    font-style: italic;
    font-size: 24px;
    margin-top: 0px;
    font-weight: bold !important;
    line-height: 20px !important;
    text-shadow: 2px 2px #000;
    position: relative;
}
.header-navigator {
    height: 30px;
    border-bottom: 1px #800080 solid;
    width: 100%;
    color:#800080;
    line-height: 30px;
}
.header-title {
    height: 60px;
    background-color: #800080;
    margin-top: 2px;
    width: 100%;
    color:#fff;
}


/* END OF HEADER */

/* SLIDER */

.slider-page {
    height: 100% !important;
    width: 100%;
    background-color: #fff;
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    position: relative;
    z-index: 1;
}
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}
.owl-pagination {
    display: none;
}
.over-div {
    background-color: #800080;
    width: 100%;
    height: 100% !important;
    position: absolute;
    top:0px;
    display: block;
    opacity: 0.4;
    z-index: 999;
}

@media(max-width:400px){
    .owl-buttons {
        top:20%;
    }
}
@media(min-width:410px) and (max-width:490px){
    .owl-buttons {
        top:35%;
    }
}
@media(min-width:500px) and (max-width:630px){
    .owl-buttons {
        top:35%;
    }
}
@media(min-width:640px) and (max-width:760px){
    .owl-buttons {
        top:35%;
    }
}
@media(min-width:768px) and (max-width:900px){
    .owl-buttons {
        top:35%;
    }
}
@media(min-width:910px) and (max-width:1024px){
    .owl-buttons {
        top:35%;
    }
}
@media(min-width:1025px) and (max-width:1900px){
    .owl-buttons {
        top:35%;
    }
}
@media (min-width:1200px){
    .owl-buttons {
        top:45%;
    }
}

/* END OF SLIDEER */

/* MAIN CONTENT */

.alert-danger {
    margin-top:20px;
}
.alert-wrapper{
    margin-bottom: 0px;
    padding-bottom: 0px;
    bottom: 0px;
    height: 65px;
    display: block;
}
.alert.alert-danger,
.alert.alert-success{
    position: relative;
    bottom:0px !important;;
    margin-bottom:10px;
    margin-top: 20px;
}
.arrow-down {
    width: 30px;
    height: 30px;
    background-color: #800080;
    display: block;
    position: absolute;
    right: 0px;
    bottom:0px;
    pointer-events: none;
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    border-radius: 5px;
}
.green-arrow {
    width: 30px;
    height: 30px;
    background-color:#5bb900;
    display: block;
    position: absolute;
    right: 0px;
    bottom:0px;
    pointer-events: none;
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    border-radius: 5px;
}
.purple-button {
    background-color: #800080;
    width: 120px;
    height: 30px;
    text-align: center;
    color:#fff;
    outline: none;
    border:none;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
}
.purple-button:hover,
.purple-button:active,
.purple-button:focus,
.purple-button:visited {
    text-decoration: none;
    color: #fff;
}
.green-button {
    background-color: #5bb900;
    width: 120px;
    height: 30px;
    text-align: center;
    color:#fff;
    outline: none;
    border:none;
    font-weight: bold;
    border-radius: 5px;
}

.light {
    background-color: #b366b3 !important;
    text-align: left;
    padding-left: 10px;
    width:140px;
    font-weight: normal;
    height: 35px;
}
.small-avatar {
    width:80px;
    height: 80px;
    margin-top: 20px;
}
.strong {
    font-weight: bold;
}
a.strong,
a.strong:hover,
a.strong:active{
    text-decoration:none;
    color: #333333;
}
.date {
    color:#c0c5ce;
}
.green-title {
    position: relative;
    height: 40px;
    width: 100%;
    background-color: #9dd566;
    margin-top: 30px;
    text-align: left;
}
.green-title p {
    padding-left: 40px;
    font-weight: bold;
    line-height: 35px;
    text-shadow: 1px 1px #000;
    color:#fff; 
    font-style: italic;
    font-size: 24px;
}
.float-left{
    position: relative;
    float: left;
}
.float-right {
    position: relative;
    float: right;
}
.border-bottom {
    border-bottom: 1px gray solid;
}
.border {
    border:1px #c0c5ce solid;
    border-radius: 10px;
}
.border-left {
    border-left:1px #c0c5ce solid;
}
.post-comment {
    border-left: 5px #800080 solid;
    height: 100%;
    width: 100%;
    margin-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
}
.purple:hover,
.purple:active,
.purple:visited,
.purple:focus{
    color:#800080;
    text-decoration: none;
}
.green {
    color: #5bb900;
}
.green-border-left {
    border-left: 5px #5bb900 solid;
    height: 100%;
    width: 100%;
    margin-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
}
.green-text {
    color:#5bb900;
    font-size: 18px;
    font-weight: bold;
    font-style: italic;
}
.green-text:hover,
.green-text:active,
.green-text:visited,
.green-text:focus{
    color: #5bb900;
    text-decoration: none;
}
/* FOOTER */

.footer {
    width: 100% !important;
    height: 125px;
    background-color: #800080;
}
.footer-container {
    height: 125px;
    text-align: center;
}
.footer .white {
    color:#fff;
    text-transform: uppercase;
    font-weight: bold;
}
.copyright {
    padding-top: 30px;
    line-height: 40px;
    text-align: center;
    color:#e580e5;
    border-bottom: 1px #fff solid;
}
.footer .social {
    list-style: none;
    position: relative;
    margin:10px auto;
    text-align: center !important;
}
.footer .social li{
    position: relative;
    display: inline;
    margin-right: 20px;
}
.footer .social img {
    width:35px;
    height:35px;
}

@media (max-width:400px) {
    .footer {
        height: 180px;
    }
}
/* END OF FOOTER */