.header-navigator a {
    color:#800080;
    text-decoration: none;
}
.header-navigator a:hover,
.header-navigator a:focus,
.header-navigator a:active,
.header-navigator a:visited{
    color:#800080;
    text-decoration: none;
}
.search-container {
    display: table;
}
.title-h3 {
    display: table-cell;
    float:left;
}
.search {
    position: relative;
    float: right;
    margin-top: 0px;
    padding-top:0px;
    top:10px;
    display: table-cell;
}
.search-input{
    color:#800080 !important;
    border-radius: 10px;
    border: none;
    outline: none;
    height: 30px;
    padding-left: 15px;
    display:block;
    float:right;
    position: relative;
    margin-top: 5px;
    width: 225px;
}
.search-icon {
    position: relative;
    color:#800080;
    float: right;
    display: block;
    font-size: 18px;
    text-shadow: none;
    right: 30px;
    top:6px;
    z-index: 999;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
}
.search-input::-webkit-input-placeholder {
    color:    #800080;
}
.search-input:-moz-placeholder {
    color:    #800080;
    opacity:  1;
}
.search-input::-moz-placeholder {
    color:    #800080;
    opacity:  1;
}
.search-input:-ms-input-placeholder {
    color:    #800080;
}
.search-input:placeholder-shown {
    color:    #800080;
}
.white-button {
    background-color: #fff;
    color:#5bb900;
    border:none;
    position: relative;
    width: 140px;
    height: 30px;
    line-height: 30px;
    text-align: left;
    border-radius: 5px;
    font-weight: bold;
    padding-left:15px;
    margin-left: 15px;
    margin-top: 5px;
    font-style: italic; 
}
.white-button:hover {
    background-color: #f1f1f1;
}
.order-by button{
    background-color: #fff;
    border:none;
    height: 30px;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 18px;
    padding-left: 15px;
    padding-right: 40px;
    color:#5bb900;
    font-weight: bold;
    font-style: italic;
    text-align: left;
}
.green-arrow-members {
    width: 30px;
    height: 30px;
    background-color:#5bb900;
    display: block;
    position: absolute;
    right: 18px;
    bottom:0px;
    top:5px;
    pointer-events: none;
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    border-radius: 5px;
}
.caret {
    float: right;
    right: 10px;
    top:8px;
    position: relative;
}
.green-box {
    background-color: #5bb900;
    width: 20px;
    height: 40px;
    float:left;
    left:0px;
    padding-right: 20px;
}
.page-number-bottom a.green-box,
.page-number-bottom a.green-box:hover,
.page-number-bottom a.green-box:active{
    color:#fff;
    text-decoration: none;
}
.order-text {
    color:#fff;
    font-weight: bold;
    top: 3px;
    position: relative;
    font-style: italic;
}
.green-title {
    display: table;
}
.green-title-right{
    float: right;
}
.green-title-left {
    float: left;
}
.green-title-left,
.green-title-right {
    display: table-cell;
}
.order-by-menu {
    width:80%;
    left:15px !important;
    text-align: center !important;
    font-style: italic !important;
    cursor: pointer;
}
.page-number-top{
    padding-top: 20px;
    padding-bottom: 20px;
}
.page-number-top .float-left {
    padding-top: 10px;
}
.members-slider {
    height: 260px;
    width: 100%;
    display: inline-block;
}
#owl-slider {
    padding-right: 5%;
    padding-left: 5%;
}
#owl-slider .item{
    width:200px; 
    height:240px;
    background: #fff;
    border:2px #5bb900 solid;
    margin: 10px auto;
    color: gray;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
}
.slider-avatar {
    border-radius: 50%;
    box-shadow: 3px 3px 3px #888888;
    width: 130px;
    height: 130px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.small-avatar {
    border-radius: 50%;
    box-shadow: 3px 3px 3px #888888;
}
.owl-buttons {
    position: absolute;
    z-index: 9999;
    top:38% !important;
    width: 100%;
    float: left !important;
    left:0 !important;
}
.owl-prev {
    position: relative;
    left: 0px !important;
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 0px !important;
    background-color:#5bb900 !important;
    line-height: 34px;
    font-size: 26px !important;
    font-weight: bold;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}
.owl-next {
    position: relative;
    right: 0px !important;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 0px !important;
    background-color:#5bb900 !important;
    line-height: 34px;
    font-size: 26px !important;
    font-weight: bold;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}
.slider-avatar img{
    width: 70px;
    height:70px;
}
.date {
    font-size: 12px;
    font-style: italic;
}
.strong {
    line-height: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.green-button {
    background-color: #5bb900;
    color:#fff;
    font-weight: bold;
    font-style: italic;
    border:none;
    outline: none;
    border-radius: 5px;
    height: 30px;
    width: 120px;
    line-height: 30px;
    display: inline-block;
}
.green-button:hover {
    background-color: #9dd566;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}
.green-button:hover,
.green-button:focus,
.green-button:active,
.green-button:visited {
    text-decoration: none;
    color: #fff;
}
.purple {
    font-style: italic;
}
.members-list {
    margin-bottom: 20px;
}
.members-list p.content {
    top:0px;
    margin:25px auto;
    float: left !important;
    position: relative;
}
.members-list .content a{
    color:#800080;
    text-decoration: none;
    font-weight: bold;
}
.members-right-button {
    margin-top:40%;
    right: 0px;
    float:right;
    line-height: 30px;
}
.members-right-button:hover {
    background-color: #b366b3;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}
.small-avatar {
    vertical-align: middle !important;
}
.page-number-bottom {
    color: #fff;
    font-weight: bold;
    line-height: 30px;
    float: right;
    margin-bottom: 25px;
}
.page-number-bottom .green-box {
    margin-right: 5px; 
    text-align: center;
    padding:5px;
    width:35px;
    outline: none;
    border:none;
}
.page-number-top .green-box {
    color:#fff;
    margin-right: 5px; 
    text-align: center;
    padding:2px;
    width:30px;
    height: 30px !important;
    outline: none;
    border:none; 
    margin-bottom: 5px;
}
.page-number-top a.green-box,
.page-number-topa.green-box:hover,
.page-number-top a.green-box:active{
    color:#fff;
    line-height: 25px;
    text-decoration: none;
}
@media (min-width:300px) and (max-width:1200px) {
    .date,
    .members-list p.content,
    .post-comment .col-lg-1{
        margin:0px;
        padding: 0px;
        float: left;
    }
    .post-comment .col-lg-1 {
        padding-left: 30px !important;
    }
    .members-right-button {
        float: right;
        margin-top: 0px;
    }
    .post-comment .members-line {
        height: 100% !important;
    }
    .page-number-top{
        padding-bottom: 25px;
    }
    .item .date {
        text-align: center;
        width: 100%;
    }
}

@media (min-width:300px) and (max-width:680px) {
    .order-by button,
    .order-text{
        float: left;
        font-size: 12px;
    }
    .order-text {
        line-height: 30px;
    }
    .white-button {
        width:80%;
        left:10px;
        top:0px;
        float:left;
        font-size: 12px;
    }
    .green-title-left .green-box {
        position: absolute;
        height: 100%;
    }
    .green-title {
        padding-bottom: 5px;
    }
    .search-container {
        padding-top: 0px;
    }
    .search {
        padding-left: 20px;
    }
    .float-left {
        display: none;
    }
    .item .date {
        text-align: center;
        width: 100%;
    }
}
@media (max-width:420px) {
    .search {
        display: none !important;
    }
    .members-slider {
        width: 100%;
        padding:0px !important;
        margin:0px !important;
    }
    .item {
        width: 70% !important;
    }

}