.header-navigator a {
    color:#800080;
    text-decoration: none;
}
.header-navigator a:hover,
.header-navigator a:focus,
.header-navigator a:active,
.header-navigator a:visited{
    color:#800080;
    text-decoration: none;
}
.main-content {
    padding-bottom: 30px;
}
.cover-photo {
    display: inline-block;
    position: relative;
    height: 100%;
    width:100%;
}
.cover-photo img {
    object-fit: cover;
    width:100%;
    max-height:350px; 
}
.profile-name {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
}
.user-img img {
    width: 120px;
    height: 120px;
    vertical-align: middle;
    margin-top: 20px;
    border-radius: 50%;
    box-shadow: 2px 4px 3px #888888;
}
.small-avatar {
    border-radius: 50%;
    box-shadow: 2px 4px 3px #888888;
}
.shadow {
    height: 40px;
    background-color: #ddd;
}
.top-left {
    float: left;
    position: relative;
}
.top-right {
    float: right;
    position: relative;
    padding-top: 15px;
}
.header-button {
    background-color: #fff;
    color:#800080;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    border:none;
    border-radius: 5px;
    margin-left: 10px;
    padding:5px 12px 5px 12px;
}
.header-button:hover {
    background-color: #f1f1f1;
}
.green-box {
    background-color: #5bb900;
    width: 20px;
    height: 40px;
    float:left;
    left:0px;
    padding-right: 20px;
}
.green-title {
    top: 25px;
}
.green-title-right{
    float: right;
    color:#fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    margin-right: 15px;
}
.green-title-left {
    float: left;
    width: 50%;
}
.green-title-left h3 {
    color:#fff;
    margin-top: 0px;
    padding-top: 10px;
    padding-left: 30px;
}
.green-title {
    display: table;
}
.green-title-left,
.green-title-right {
    display: table-cell;
}
.white-button {
    position: relative;
    margin-top: 5px;
    margin-left: 10px;
    background-color: #fff;
    color:#5bb900;
    height: 30px;
    padding:5px 12px 5px 12px;
    text-align: left;
    border-radius: 5px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    border:none;
}
.profile-menu {
    border-top:1px #800080 solid;
    border-left: 10px #800080 solid;
    border-bottom: 3px #800080 solid;
    padding:7px 10px 7px 15px;

}
.profile-menu .active {
    display: inline-block;
    background-color: #fff;
    border: 2px #800080 solid;
    padding:5px 25px 5px 25px;
    color:#800080;
    font-weight: bold;
    margin-right: 35px;
    border-radius: 5px;
    width: 150px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    text-align: center;
}
.profile-menu .active:hover {
    background-color: #f1f1f1;
    text-decoration: none;
    cursor: pointer;
}
.profile-menu a:active,
.profile-menu a:focus,
.profile-menu a:visited,
.profile-submenu a:hover,
.profile-submenu a:active,
.profile-submenu a:visited,
.profile-submenu a:focus{
    text-decoration: none;
}
.profile-menu .profile-menu-button {
    display: inline-block;
    padding:7px 25px 7px 25px !important;
    background-color: #800080;
    border-radius: 5px;
    border:none;
    outline: none;
    color:#fff;
    font-weight: bold;
    margin-right: 35px;
    width: 150px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    text-align: center;
}
.profile-menu .profile-menu-button:hover {
    background-color: #b366b3;
    text-decoration: none;
    cursor: pointer;
}
.profile-submenu {
    margin-top: 3px;
    border-top:1px #5bb900 solid;
    border-left: 10px #5bb900 solid;
    border-bottom: 3px #5bb900 solid;
    padding:7px 10px 7px 15px;
}
.profile-submenu .active {
    display: inline-block;
    background-color: #fff;
    border: 2px #5bb900 solid;
    padding:5px 25px 5px 25px;
    color:#5bb900;
    font-weight: bold;
    margin-right: 35px;
    border-radius: 5px;
    width: 150px;
    text-align: center;
}
.profile-submenu .active:hover {
    background-color: #f1f1f1;
    text-decoration: none;
    cursor: pointer;
}
.profile-submenu .profile-menu-button:hover {
    background-color: #9dd566;
    text-decoration: none;
    cursor: pointer;
}
.profile-submenu .profile-menu-button {
    display: inline-block;
    padding:7px 25px 7px 25px !important;
    background-color: #5bb900;
    border-radius: 5px;
    border:none;
    outline: none;
    color:#fff;
    font-weight: bold;
    margin-right: 35px;
    width: 150px;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    text-align: center;
}
a.big-button {
    min-width:200px !important;
}
.bottom-button {
    width: 100%;
    margin-top:20px;
    margin-bottom: 20px;
}
.bottom-button .green-button {
    width: 100%;
    height: 35px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s; 
}
.bottom-button .green-button:hover {
    background-color: #9dd566;
}
.email-settings .strong {
    padding-top:15px;
    padding-left: 15px;
}
.email-settings table.activity,
.email-settings table.messages,
.email-settings table.friends,
.email-settings table.groups{
    width: 100%;;
    border: 1px gray solid;
    margin-bottom: 30px;
}
.email-settings table.activity th,
.email-settings table.messages th,
.email-settings table.friends th,
.email-settings table.groups th{
    height: 40px;
    background-color: #ddd;
    padding-left: 15px !important;
    border: 1px gray solid;
}
.email-settings table.activity td,
.email-settings table.messages td,
.email-settings table.friends td,
.email-settings table.groups td{
    padding-left: 15px !important;
    border: 1px gray solid;
    height: 30px;
}
.big-td {
    width: 80%;
}
@media (min-width:300px) and (max-width:690px) {
    .header-title {
        height: auto !important;
    }
    .top-right {
        width: 100%;
        display: inline-block;
    }
    .profile-name {
        margin-top: 25px;
    }
    .user-img img {
        width: 65px;
        height: 65px;
        margin: 0px;
    }
    .header-button {
        padding:5px 12px 5px 12px;
        margin:0px;
        border:1px #800080 solid;
        margin-bottom: 10px;
        margin-top: 5px;
    }
    .green-title h3{
        font-size: 14px;
    }
    .green-title{
        margin:0px;
        top:-15px;
    }
    .profile-menu {
        padding:7px 10px 7px 15px;
    }
    .profile-menu .active {
        padding:5px 25px 5px 25px;
        margin: 0px;
        width:100%;
    }
    .profile-menu .profile-menu-button {
        padding:7px 25px 7px 25px !important;
        margin: 0px;
        width:100%;
        margin-top:10px; 
    }
    .profile-submenu .active {
        padding:5px 25px 5px 25px;
        margin: 0px;
        width:100%;
    }
    .profile-submenu .profile-menu-button {
        padding:7px 25px 7px 25px !important;
        margin: 0px;
        width:100%;
        margin-top:10px; 
    }
}
@media (min-width:690px) and (max-width:1200px) {
    .user-img img {
        width: 120px;
        height: 120px;
    }
    .profile-menu .active {
        padding:5px 25px 5px 25px;
        margin: 0px;
        width: 120px;
    }
    .profile-menu .profile-menu-button {
        padding:7px 15px 7px 15px !important;
        margin: 0px;
        margin-left: 10px;
        margin-top:10px;
        width: 120px;
    }
    .profile-submenu .active {
        padding:5px 25px 5px 25px;
        margin: 0px;
        width: 120px;
    }
    .profile-submenu .profile-menu-button {
        padding:7px 15px 7px 15px !important;
        margin: 0px;
        margin-left: 10px;
        margin-top:10px;
        width: 120px;
    }
}
@media (min-width:300px) and (max-width:400px){
    .green-title .green-title-right {
        display: none;
    }
    .green-title .green-title-left {
        width: 90%;
    }
    .green-title{
        padding-left: 7%;
        z-index: 998;
        position: relative;
    }
    .profile-post .col-lg-11 img {
        width: 200px;   
    }
    .user-img {
        z-index: 999;
        position: relative;
    }
}
