.header-navigator a {
    color:#800080;
    text-decoration: none;
}
.header-navigator a:hover,
.header-navigator a:focus,
.header-navigator a:active,
.header-navigator a:visited{
    color:#800080;
    text-decoration: none;
}
.search-container {
    display: table;
}
.title-h3 {
    display: table-cell;
    float:left;
}
.search {
    position: relative;
    float: right;
    margin-top: 0px;
    padding-top:0px;
    top:10px;
    display: table-cell;
}
.search-input{
    color:#800080 !important;
    border-radius: 10px;
    border: none;
    outline: none;
    height: 30px;
    padding-left: 15px;
    display:block;
    float:right;
    position: relative;
    margin-top: 5px;
    width: 225px;
}
.search-icon {
    position: relative;
    color:#800080;
    float: right;
    display: block;
    font-size: 18px;
    text-shadow: none;
    right: 30px;
    top:6px;
    z-index: 999;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
}
.search-input::-webkit-input-placeholder {
    color:    #800080;
}
.search-input:-moz-placeholder {
    color:    #800080;
    opacity:  1;
}
.search-input::-moz-placeholder {
    color:    #800080;
    opacity:  1;
}
.search-input:-ms-input-placeholder {
    color:    #800080;
}
.search-input:placeholder-shown {
    color:    #800080;
}

.green-box {
    background-color: #5bb900;
    width: 20px;
    height: 40px;
    float:left;
    left:0px;
    padding-right: 20px;
}
.page-number-bottom {
    color: #fff;
    font-weight: bold;
    line-height: 30px;
    float: right;
    margin-bottom: 25px;
    margin-top: 25px;
}
.page-number-bottom .green-box {
    margin-right: 5px; 
    text-align: center;
    padding:5px;
    width:35px;
    outline: none;
    border:none;
}
.page-number-bottom a.green-box,
.page-number-bottom a.green-box:hover,
.page-number-bottom a.green-box:active{
    color:#fff;
    text-decoration: none;
}
.green-title p {
    line-height: 40px !important;
}
a.green-button,
a.green-button:hover,
a.green-button:focus,
a.green-button:active{
    padding:7px 20px 7px 20px;
    text-decoration: none;
    color: #fff;
}
.green-button {
    position: relative;
    display: inline-block;
    margin: 20px auto;
    width: auto !important;
    height: auto !important;
    left:28%;
}
.green-button:hover {
    background-color: #9dd566;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}
.bottom-button {
    width: 100% !important;
    margin: 20px auto;
    left:0px;
    height: 35px !important;
    font-size: 18px;
    display: inline-block;
}
.white-button {
    color:#5bb900;
    background: #fff;
    padding: 3px 12px 3px 10px;
    border-radius: 5px;
    text-align: center;
    margin-left: 10px;
}
.right-icon {
    float: right;
    padding-right: 20px;
}
.right-icon a {
    color:#fff;
    margin-right: 5px;
}
.right-icon a:focus,
.right-icon a:active,
.right-icon a:hover {
    color:#fff;
    text-decoration: none;
}
a.school-right-button {
    padding:7px 20px 7px 20px;
    margin-top:30%;
    display: inline-block;
}
.small-avatar {
    border-radius: 50%;
    box-shadow: 3px 3px 3px #888888;
}
.content {
    padding-top: 25px;
}
@media (min-width:300px) and (max-width:1200px) {
     .green-button.school-right-button {
        padding:7px 15px 7px 15px;
        margin-top:5% !important;
        margin:0px auto !important;
        position: relative;
        left:0;
    }
    
    .small-avatar {
        margin:0px auto;
        display: block;
        position: relative;
    }
    .content {
        text-align: center;
    }
    .search-container {
        padding-top: 0px;
    }
    .search {
        padding-left: 20px;
    }
}
@media (max-width:380px) {
    .search {
        display: none;
    }
    .right-icon {
        font-size: 20px;
    }
}