.header-navigator a {
    color:#800080;
    text-decoration: none;
}
.header-navigator a:hover,
.header-navigator a:focus,
.header-navigator a:active,
.header-navigator a:visited{
    color:#800080;
    text-decoration: none;
}
.search-container {
    display: table;
}
.title-h3 {
    display: table-cell;
    float:left;
}
.search {
    position: relative;
    float: right;
    margin-top: 0px;
    padding-top:0px;
    top:10px;
    display: table-cell;
}
.search-input{
    color:#800080 !important;
    border-radius: 10px;
    border: none;
    outline: none;
    height: 30px;
    padding-left: 15px;
    display:block;
    float:right;
    position: relative;
    margin-top: 5px;
    width: 225px;
}
.search-icon {
    position: relative;
    color:#800080;
    float: right;
    display: block;
    font-size: 18px;
    text-shadow: none;
    right: 30px;
    top:6px;
    z-index: 999;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: transparent;
}
.search-input::-webkit-input-placeholder {
    color:    #800080;
}
.search-input:-moz-placeholder {
    color:    #800080;
    opacity:  1;
}
.search-input::-moz-placeholder {
    color:    #800080;
    opacity:  1;
}
.search-input:-ms-input-placeholder {
    color:    #800080;
}
.search-input:placeholder-shown {
    color:    #800080;
}
.school {
    border: 1px gray solid;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    position: relative;
    margin: 20px auto;
    padding-bottom: 5px;
    overflow: hidden;
}
.school p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-style: italic;
}
.school img {
    width:100%;
    height: 180px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px gray solid;
}
.school-description {
    color:#707070;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 5px;
    font-style: italic;
    padding-top: 15px;
}
.green-box {
    background-color: #5bb900;
    width: 20px;
    height: 40px;
    float:left;
    left:0px;
    padding-right: 20px;
}
.page-number-bottom {
    color: #fff;
    font-weight: bold;
    line-height: 30px;
    float: right;
    margin-bottom: 25px;
    margin-top: 25px;
}
.page-number-bottom .green-box {
    margin-right: 5px; 
    text-align: center;
    padding:5px;
    width:35px;
    outline: none;
    border:none;
}
.page-number-bottom a.green-box,
.page-number-bottom a.green-box:hover,
.page-number-bottom a.green-box:active{
    color:#fff;
    text-decoration: none;
}
.green-title p {
    line-height: 40px !important;
}
.center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h2 {
    font-style: italic;
    font-weight: bold !important;
    color: #707070 !important;
    font-size: 24px;
    padding-left: 20px;
}

.green-text {
    color:#5bb900;
}
.date {
    padding-left: 20px;
}
a.green-button,
a.green-button:hover,
a.green-button:focus,
a.green-button:active{
    padding:7px 30px 7px 30px;
    text-decoration: none;
    color: #fff;
}
.green-button {
    position: relative;
    display: block;
    margin: 20px auto;
    height: auto !important;
    width: 180px !important;
    left:0 !important;
}
.green-button:hover {
    background-color: #9dd566;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}
.school-name {
    padding-top:15px;
    padding-left: 15px;
    text-align: left;
}
.author {
    padding-top:0px;
    padding-left: 15px;
    font-weight: bold;
    font-size: 16px;
}
.bottom-button {
    width: 100% !important;
    margin: 20px auto;
    display: inline-block;
    left:0px;
    height: 35px !important;
    font-size: 18px;
}
.white-button {
    color:#5bb900;
    background: #fff;
    padding: 3px 12px 3px 10px;
    border-radius: 5px;
    text-align: center;
    margin-left: 10px;
}
.right-icon {
    float: right;
    padding-right: 20px;
}
.right-icon a {
    color:#fff;
    margin-right: 5px;
}
.right-icon a:focus,
.right-icon a:active,
.right-icon a:hover {
    color:#fff;
    text-decoration: none;
}
.group-schools .col-lg-4 {
    height: 520px !important;
}
@media (min-width:300px) and (max-width:600px) {
    
    .bottom-button {
        left:0;
    }
    .search-container {
        padding-top: 0px;
    }
    .search {
        padding-left: 20px;
    }
    .group-schools .col-lg-4 {
    height: auto !important;
}
}
@media (min-width:600px) and (max-width:700px) {
    
    .green-button {
        left:32%;
    }
    .bottom-button {
        left:0;
    }
    .search-container {
        padding-top: 0px;
    }
    .search {
        padding-left: 20px;
    }
}
@media (min-width:700px) and (max-width:980px) {
    .green-button {
        left:29%;
    }
    .bottom-button {
        left:0;
    }
}
@media (max-width:380px) {
    .search {
        display: none;
    }
    .right-icon {
        font-size: 20px;
    }
}