.header-navigator a {
    color:#800080;
    text-decoration: none;
}
.header-navigator a:hover,
.header-navigator a:focus,
.header-navigator a:active,
.header-navigator a:visited{
    color:#800080;
    text-decoration: none;
}
.news-box {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px #888888;
    display:inline-block;
}
.news-box img {
    width:120px;
    height: 120px;
    margin-top: 15px;
}
.green-box {
    height: 40px;
    width: 100%;
    background-color: #5bb900;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color:#fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
}
.prev,
.next {
    font-size: 18px;
}
.green-box-left {
    float: left;
    position: relative;
}
.green-box-right {
    float:right;
    position: relative;
}
.green-box-center {
    text-align: center;
    left:28%;
    position: relative;
    font-size: 22px;
}
.written-by {
    color:#869791;
    padding-left: 50px;
    padding-top: 15px;
}
.news-content {
    padding-left: 50px;
    color:#869791;
    font-size: 18px;
    font-style: italic;
}
.date {
    padding-left: 50px;
    padding-top: 10px;
    color:#5bb900 !important;
}

a.hyperlink {
    text-decoration: none;
    color:#fff;
}
a.hyperlink:hover,
a.hyperlink:active,
a.hyperlink:focus{
    text-decoration: none;
    color:#fff;
}
.news-comment {
    width: 90% !important;
    margin-left: 9%;
    margin-right: 1%;
    display:block-inline;
}
.news-comment img {
    width:90px;
    height: 90px;
    margin-top: 30px;
}
.purple {
    padding-top: 20px;
    padding-left: 50px;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    display: block;
}
a.purple {
    color: #800080;
}
.news-comment-content {
    padding-left: 50px;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    color:#869791;
}
.comment-date {
    color: #800080;
    padding-left: 50px;
}
.reply h2 {
    font-weight: bold;
    font-style: italic;
    color:#869791;
}
.reply .green-text {
    line-height: 5px;
}
.leave-reply {
    width: 100%;
    min-height: 200px;
    border-radius: 10px;
    padding-top:20px;
    padding-left:20px;
}
.green-button {
    background-color: #5bb900;
    width: 160px !important;
    height: 35px !important;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    float:right;
    margin-bottom: 20px;
    margin-top: 5px;
    outline: none;
    border:none;
}
.green-button:hover {
    background-color: #9dd566;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}
.slider-avatar {
    border-radius: 50%;
    box-shadow: 3px 3px 3px #888888;
}
.comments {
    color:#800080;
    padding-left: 15px;
    font-style:italic;
    font-weight: bold;
}
.social {
    text-align: right;
    width: 100%;
}
.social .fa{
    color:#5bb900 !important;
    font-size: 18px;
    padding-right: 10px;
    text-align: right;
}
@media (min-width:300px) and (max-width:1200px) {
    .purple {
    padding-left: 5px;
}
.news-comment-content {
    padding-left: 5px;
}
.written-by {
    padding-left: 5px;
}
.news-content {
    padding-left: 5px;;
}
.date {
    padding-left: 5px;
}
.green-box-center {
    margin:0px auto;
    left:0px;
}
.green-box-left {
    display: none;
}
.green-box-right {
    display: none;
}
.comment-date {
    padding-left: 5px;
}
}